<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>CyptoPlusBeau</title>
</head>
<body>
    <h1>Crypto - PlusBeau</h1>
    <div class="btn-group dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Crypto List
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item"><a href="#">1</a></li>
            <li class="dropdown-item"><a href="#">2</a></li>
            <li class="dropdown-item"><a href="#">3</a></li>
            <li class="dropdown-item"><a href="#">4</a></li>
        </ul>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>